@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "TOP";
}


<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <div class="card border-primary">
            <div class="card-body">
                <h1 class="card-title">ようこそ</h1>
                @if (User.Identity.IsAuthenticated){
                    <p class="card-text">
                        タスクを登録して3分間本気出しましょう。
                    </p>
                    <a class="btn btn-primary btn-block" href="/MyPage" role="button" id="loginLink">マイページへ移動</a>
                }else{
                    <p class="card-text">
                        会員登録済みの方はTwitterからログインしてください。<br>
                        未登録の方はTwitterアカウントを使用して会員登録を行ってください。
                    </p>
                    <a class="btn btn-primary btn-block" href="/Identity/Account/Login" role="button" id="loginLink">Twitterでログイン または 会員登録</a>
                }
            </div>
        </div>
    </div>
</div>