@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model twe_todo_app.Models.TodoModels.TweetResult

@{
    ViewBag.Title = "Update";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <div class="card border-primary">
            @using (Html.BeginForm("Update", "Todo", FormMethod.Post))
            {
                <div class="card-body">
                    <h2 class="card-title">タスク更新</h2>
                    @for (int i = 0; i < Model.tasks.Count; i++)
                    {
                        int numno = i + 1;
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">No.@numno</div>
                                </div>
                                <input class="form-control" type="text" name="tasks[@i].task" value=@Model.tasks[i].task readonly="readonly">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <input class="form-control" type="text" name="tasks[@i].state" value=@Model.tasks[i].state>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/Todo/Index" role="button">戻る</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
        </div>
    </div>
</div>