@page
@model PersonalDataModel
@{
    ViewData["Title"] = "退会手続き";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Twitterアカウントを使用した外部認証時に取得した情報、本Webサービスにより作成された情報（Tweet情報）の一切を削除します。</p>
        <p>
            <strong>退会手続きを実行されると本Webサービス内のアカウントに紐づく全ての情報が削除されデータを回復することはできなくなります。</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">退会する</a>
        </p>
    </div>
</div>